.comment-w{
    box-sizing: border-box;
    *{
        box-sizing: border-box;
        font-family: Microsoft Yahei;
        font-size: 15px;
    }
    padding: 10px;
    @import './submit.less';
    @import './comment.less';
    .hljs {
        background: #1E1E1E!important;
    }
}
@import './editor.less';
@import './text-area.less';
@import './md-preview.less';
@import './emoji.less';